body {
  font-family: sans-serif;
}
.timer {
  display: flex;
  justify-content: center;
}
.field {
  font-size: 30px;
  margin: 10px;
}
.inputField {
  font-size: small;
  display: flex;
  width: 350px;
  margin: auto;
  align-items: baseline;
  flex-direction: column;
}
.date {
  margin: 10px;
}
.reset {
  margin-top: 20px;
}
